<div id="clearance" class="w-full max-w-xs">
  <h2><%= t(".title") %></h2>

  <%= form_for @user, class: "bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4" do |form| %>
    <%= render partial: '/users/form', object: form %>

    <div class="submit-field">
      <%= form.submit "Sign up", class: "bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline" %>
    </div>

    <div class="other-links">
      <%= link_to t(".sign_in"), sign_in_path %>
    </div>
  <% end %>
</div>
