<div class="mb-4">
  <%= form.label :name, class: "block text-gray-700 text-sm font-bold mb-2" %>
  <%= form.text_field :name, class: "shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" %>
</div>

<div class="mb-4">
  <%= form.label :email, class: "block text-gray-700 text-sm font-bold mb-2" %>
  <%= form.text_field :email, class: "shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" %>
</div>

<div class="mb-4">
  <%= form.label :phone_number, class: "block text-gray-700 text-sm font-bold mb-2" %>
  <%= form.phone_field :phone_number, class: "shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" %>
</div>

<div class="mb-4">
  <%= form.label :date_of_birth, class: "block text-gray-700 text-sm font-bold mb-2" %>
  <%= form.date_field :date_of_birth, class: "shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" %>
</div>

<div class="inline-block relative w-64">
  <%= form.label :gender, class: "block text-gray-700 text-sm font-bold mb-2" %>
  <%= select_tag :gender, options_for_select(Doctor.genders.map {|k, v| [k.humanize.capitalize, v]}), class: "block appearance-none w-full bg-white border border-gray-400 hover:border-gray-500 px-4 py-2 pr-8 rounded shadow leading-tight focus:outline-none focus:shadow-outline" %>
  <div class="pointer-events-none absolute inset-y-0 right-0 flex items-center px-2 text-gray-700">
    <svg class="fill-current h-4 w-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z"/></svg>
  </div>
</div>

<div class="mb-6">
  <%= form.label :password, class: "block text-gray-700 text-sm font-bold mb-2" %>
  <%= form.password_field :password, class: "shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" %>
</div>

<div class="mb-6">
  <%= form.label :password_confirmation, class: "block text-gray-700 text-sm font-bold mb-2" %>
  <%= form.password_field :password_confirmation, class: "shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" %>
</div>

<div class="flex items-center justify-between">
  <%= form.submit "Signup", class: "bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline" %>
</div>
